.card-project-image {
  position: relative;

  &__img {
    width: 100%;

    opacity: 1;
    object-fit: cover;
    object-position: center center;
    padding: 0;
    overflow: hidden;
  }
}

.card-project-info {
  padding: 2rem 2rem 0 2rem;
  text-align: left;
  width: 100%;
  height: auto;
}
// .MuiPaper-root {
//   transition: all 0.5s;
//   &:hover {
//     transform: scale(1.05);
//   }
// }


// .MuiPaper-root.card-project-info.MuiPaper-elevation3.MuiPaper-rounded {
//   transition: all 0.5s;
//   background-color: red;
//   &:hover {
//     transform: scale(1.05);
//   }
// }

