.card-project-image {
  position: relative;
  // height: 38rem;
  &__img {
    width: 100%;
    // height: auto;
    opacity: 1;
    object-fit: cover;
    object-position: center center;
    padding: 0;
    overflow: hidden;
  }
}
.card-project-info {
  padding: 2rem 2rem 0 2rem;
  text-align: left;
  // width: auto;
  width: 100%;

  max-height: auto;
}
