//! colors
$color-primary-dark: #11001c;
$color-primary-light: #35012c;
$color-primary-light-1: #4f0147;

// $color-primary-dark: #343a40;
// $color-primary-light-1: #adb5bd;

// $color-primary-dark: #004e98;
// $color-primary-light-1: #3a6ea5;

$color-grey-dark: #999;
$color-grey-dark-2: #777;
$color-grey-dark-3: #333;

$color-grey-light: #f7f7f7;

$color-white: #fff;
$color-black: #000;

// ! font
$default-font-size: 1.6rem;
