//! colors
$color-primary-dark: #11001c;
$color-primary-light: #35012c;
$color-primary-light-1: #4f0147;

//! color blue
$color-primary-dark: #0f0c29;
$color-primary-light-1: #302b63;
$color-primary-light-2: #24243e;

// $color-orange: #fb8500;
$color-green: #28b485;

$color-grey-dark: #999;
$color-grey-dark-2: #777;
$color-grey-dark-3: #333;

$color-grey-light: #f7f7f7;

$color-white: #fff;
$color-black: #000;

// ! font
$default-font-size: 1.6rem;
