// !resetting css with universal selector
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
//!  setting root font-size in html to use rem for all other elements. The default font-size is 16px, so 10/16*100 = 62.5%
html {
  font-size: 62.5%;
  // font-size: 10px;
  //! i.e. font-size: 10px and this defines 1 rem;
  scroll-behavior: smooth;
}
