@import "../abstracts/variables";
body {
  font-family: "Montserrat", sans-serif;

  line-height: 1.7;
  color: $color-grey-dark-2;

  box-sizing: border-box;
}

.heading-primary {
  color: $color-white;

  margin-bottom: 6rem;
  backface-visibility: hidden;

  &--main {
    display: block;
    letter-spacing: 2rem;
    font-size: 6rem;
    font-weight: 600;

    animation: moveInLeft 3s ease-out;
  }

  &--sub {
    display: block;
    font-size: 1.5rem;
    letter-spacing: 0.45rem;
    font-weight: 400;
    text-transform: uppercase;

    animation: moveInRight 3s ease-out;
  }
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  display: inline-block;

  color: $color-orange;

  letter-spacing: 1rem;
  transition: all 0.5s;

  &:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
  }
}

.heading-tertiary {
  font-size: 2rem;

  display: inline-block;

  color: $color-primary-light-1;

  display: inline-block;
  margin: 0 auto;
  transition: all 0.5s;

  &:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
  }
}
.text-primary {
  font-weight: 400;
  font-size: 2rem;
}

.text-secondary {
  font-size: 1.5rem;
  font-weight: 400;
}

.icon {
  width: 4rem;
  transition: all 0.5s;
  &:hover {
    transform: scale(1.2);
  }
}
