@import "../abstracts/variables";
body {
  font-family: "Montserrat", sans-serif;
  // font-weight: 700;
  line-height: 1.7;
  color: $color-grey-dark-3;
  box-sizing: border-box;
}

.heading-primary {
  color: $color-white;
  margin-bottom: 6rem;
  backface-visibility: hidden;

  &--main {
    display: block;
    letter-spacing: 2rem;
    font-size: 6rem;
    font-weight: 600;

    animation: moveInLeft 3s ease-out;
  }

  &--sub {
    display: block;
    font-size: 1.5rem;
    letter-spacing: 0.45rem;
    font-weight: 400;
    text-transform: uppercase;

    animation: moveInRight 3s ease-out;
  }
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  display: inline-block;
  color: transparent;
  background-image: linear-gradient(
    to right,
    rgba($color-primary-light-1, 0.8),
    rgba($color-primary-dark, 0.8)
  );
  // !this will clip the background image to text only
  -webkit-background-clip: text;
  letter-spacing: 1rem;
  transition: all 0.5s;

  &:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
  }
}
.text {
  color: $color-primary-dark;
  font-size: 2rem;
}

